<%- include('../partials/header') %>

    <form action="/books/advancedsearch" method="POST">
        <label>Genres:
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="genres" value="Fantasy">
                    <label>Fantasy</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="genres" value="Sci-Fi">
                    <label>Sci-Fi</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="genres" value="Action">
                    <label>Action</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="genres" value="Thriller">
                    <label>Thriller</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="genres" value="Romance">
                    <label>Romance</label>
                </div>  
        </label><br>
        <label>Categories:
            <div id="new-category">
            </div>
        <p id="addnew">
            <a href="javascript:new_category()">Add Categories</a>
        </p>
        </label><br>
        <label>Release Year:
        <p>Between</p>
        <input type="number" name="releaseYear" min="10" max="9999" value="1900">
        </label><br>
        <p>And</p>
        <input type="number" name="releaseYear" min="10" max="9999" value="2021">
        <input type="submit" value="Search">
    </form>
    <div id="add-category" style="display:none">
        <input type="text" name="categories">
     </div>
<%- include('../partials/footer') %>
