<%- include('../partials/header') %>

<% if(user && user.admin) { %>
    <form action="/books" method="POST">
        <label>Title:
            <input type="text" name="title">
        </label>
        <label>Author</label>
            <input type="text" name="author">
        <label>Genres:
            <select class="custom-select" multiple>
                <option value="1">Fantasy</option>
                <option value="2">Sci-Fi</option>
                <option value="3">Action</option>
                <option value="4">Thriller</option>
                <option value="5">Romance</option>
              </select>
        </label><br>
        <label>Categories:
        <input type="text" name="categories">
        <input type="text" name="categories">
        <input type="text" name="categories">
        <input type="text" name="categories">
        <input type="text" name="categories">
        <input type="text" name="categories">
        <input type="text" name="categories">
        </label><br>
        <label>Release Year:
        <input type="number" name="releaseYear" min="10" max="9999">
        </label><br>
        <input type="submit" value="Add Book">
    </form>
<% } else { %>
    <h1>You don't have permission to access this page...</h1>
<% } %>
<%- include('../partials/footer') %>