<%- include('../partials/header') %>

<% if(user && user.admin) { %>
    <form action="/books" method="POST">
        <label>Title:
            <input type="text" name="title">
        </label>
        <label>Author</label>
            <input type="text" name="author">
        <label>Genres:
            <select multiple name="genres">
                <option name="genres" value="Fantasy">Fantasy</option>
                <option name="genres" value="Sci-Fi">Sci-Fi</option>
                <option name="genres" value="Action">Action</option>
                <option name="genres" value="Thriller">Thriller</option>
                <option name="genres" value="Romance">Romance</option>
              </select>
        </label><br>
        <label>Categories:
            <div id="new-category">
                <input type="text" name="categories">
            </div>
        <p id="addnew">
            <button><a href="javascript:new_category()">Add More Categories</a></button>
        </p>
        </label><br>
        <label>Release Year:
        <input type="number" name="releaseYear" min="10" max="9999">
        </label><br>
        <input type="submit" value="Add Book">
    </form>
    <div id="add-category" style="display:none">
        <input type="text" name="categories">
     </div>
<% } else { %>
    <h1>You don't have permission to access this page...</h1>
<% } %>
<%- include('../partials/footer') %>