<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <ul class="right">
              <li>
                <% if (user) { %>
                  <a href="/logout">Log Out</a>
                  <span>Hi <%= user.name %> </span>
                <% } else { %>
                  <a href="/auth/google"> Login with Google</a>
    
                <% } %>       
              </li>
            </ul>
          </div>
        </nav>
      </div>
  <main>
    <h1>Book Database</h1>