<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
        <nav>
          <div id ="main-nav"></div>
            <a href="/books" <%- title === 'All Books' ? 'class="active"' : '' %>> All Books </a>
           <% if(user && user.admin) { %>
            <a href="/books/new" <%- title === 'Add Books' ? 'class="active"' : '' %>> Add Book </a>
           <% } %>
          </div>
          <div id="login-nav">
                <% if (user) { %>
                  <a href="/logout">Log Out</a>
                  <span>Hi <%= user.name %> </span>
                <% } else { %>
                  <a href="/auth/google"> Login with Google</a>
    
                <% } %>       
          </div>
        </nav>
  <main>